## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

## 1. Business Understanding

Tanzania, as a developing country, struggles with providing clean water to its population of over 57,000,000. There are many water points already established in the country, but some are in need of repair while others have failed altogether.

**Goal**: The primary objective is to predict the condition of a water well, using information about the sort of pump, Maji milele is Your audience could be an NGO focused on locating wells needing repair, or the Government of Tanzania looking to find patterns in non-functional wells to influence how new wells are built. 

can you predict which pumps are functional, which need some repairs, and which don't work at all? 

Predict one of these three classes based on a number of variables about what kind of


The factors that affect pump functionality can be grouped into the categories below:
1. Pump and Well Infrastructure
2. Socio-Economic and Management Factors
3. Geographical and Environmental Factors

## 2. Data Understanding

### columns
1. amount_tsh - Total static head (amount water available to waterpoint)
2. date_recorded - The date the row was entered
3. funder - Who funded the well
4. gps_height - Altitude of the well
5. installer - Organization that installed the well
6. longitude - GPS coordinate
7. latitude - GPS coordinate
8. wpt_name - Name of the waterpoint if there is one
9. num_private -
10. basin - Geographic water basin
11. subvillage - Geographic location
12. region - Geographic location
13. region_code - Geographic location (coded)
14. district_code - Geographic location (coded)
15. lga - Geographic location
16. ward - Geographic location
17. population - Population around the well
18. public_meeting - True/False
19. recorded_by - Group entering this row of data
20. scheme_management - Who operates the waterpoint
21. scheme_name - Who operates the waterpoint
22. permit - If the waterpoint is permitted
23. construction_year - Year the waterpoint was constructed
24. extraction_type - The kind of extraction the waterpoint uses
25. extraction_type_group - The kind of extraction the waterpoint uses
26. extraction_type_class - The kind of extraction the waterpoint uses
27. management - How the waterpoint is managed
28. management_group - How the waterpoint is managed
29. payment - What the water costs
30. payment_type - What the water costs
31. water_quality - The quality of the water
32. quality_group - The quality of the water
33. quantity - The quantity of water
34. quantity_group - The quantity of water
35. source - The source of the water
36. source_type - The source of the water
37. source_class - The source of the water
38. waterpoint_type - The kind of waterpoint
39. waterpoint_type_group - The kind of waterpoint
40. status_group - pump status

In [1]:
#Basic Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load the datasets

train_df = pd.read_csv('data/train.csv')
train_status = pd.read_csv('data/status.csv')
test_features = pd.read_csv('data/test.csv')

# Merge the training data
#train_df = pd.merge(train_features, train_status, on='id')

# Display initial information
print("\nInitial DataFrame Info:")
train_df.info()
print("\nInitial DataFrame Head:")
train_df.head()

Initial DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  object
 3   funder                 55765 non-null  object
 4   gps_height             59400 non-null  int64
 5   installer              55745 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   wpt_name               59400 non-null  object
 9   num_private            59400 non-null  int64
 10  basin                  59400 non-null  object
 11  subvillage             59029 non-null  object
 12  region                 59400 non-null  object
 13  region_code            59400 non-null  int64
 14  district_code          59400 non-null  int64
 15  lga                    59400 non-null  object
 16  ward                   59400 non-null  object
 17  population             59400 non-null  int64
 18  public_meeting         56066 non-null  object
 19  recorded_by            59400 non-null  object
 20  scheme_management      55523 non-null  object
 21  scheme_name            31234 non-null  object
 22  permit                 56344 non-null  object
 23  construction_year      59400 non-null  int64
 24  extraction_type        59400 non-null  object
 25  extraction_type_group  59400 non-null  object
 26  extraction_type_class  59400 non-null  object
 27  management             59400 non-null  object
 28  management_group       59400 non-null  object
 29  payment                59400 non-null  object
 30  payment_type           59400 non-null  object
 31  water_quality          59400 non-null  object
 32  quality_group          59400 non-null  object
 33  quantity               59400 non-null  object
 34  quantity_group         59400 non-null  object
 35  source                 59400 non-null  object
 36  source_type            59400 non-null  object
 37  source_class           59400 non-null  object
 38  waterpoint_type        59400 non-null  object
 39  waterpoint_type_group  59400 non-null  object
dtypes: float64(3), int64(7), object(30)
memory usage: 18.1+ MB

Initial DataFrame Head:

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [38]:
train_status.status_group.value_counts()

functional                 32259
non functional             22824
functional needs repair     4317
Name: status_group, dtype: int64

In [3]:
print("\nInitial DataFrame Tail:")
train_df.tail()

Initial DataFrame Tail:

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
59395,60739,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,0,...,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
59396,27263,4700.0,2011-05-07,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,0,...,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
59397,37057,0.0,2011-04-11,NaN,0,NaN,34.017087,-8.750434,Mashine,0,...,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
59398,31282,0.0,2011-03-08,Malec,0,Musa,35.861315,-6.378573,Mshoro,0,...,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
59399,26348,0.0,2011-03-23,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,0,...,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

In [4]:
train_df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Columns: 40 entries, id to waterpoint_type_group
dtypes: float64(3), int64(7), object(30)
memory usage: 18.1+ MB

The dataset contains 59400 rows and 41 columns. 3 of the columns are floats, 7 are integers and 30 are objects.

In [5]:
#concise summary statistics

train_df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,59400.0,37115.131768,21453.128371,0.00000,18519.750000,37061.500000,55656.500000,7.424700e+04
amount_tsh,59400.0,317.650385,2997.574558,0.00000,0.000000,0.000000,20.000000,3.500000e+05
gps_height,59400.0,668.297239,693.116350,-90.00000,0.000000,369.000000,1319.250000,2.770000e+03
longitude,59400.0,34.077427,6.567432,0.00000,33.090347,34.908743,37.178387,4.034519e+01
latitude,59400.0,-5.706033,2.946019,-11.64944,-8.540621,-5.021597,-3.326156,-2.000000e-08
num_private,59400.0,0.474141,12.236230,0.00000,0.000000,0.000000,0.000000,1.776000e+03
region_code,59400.0,15.297003,17.587406,1.00000,5.000000,12.000000,17.000000,9.900000e+01
district_code,59400.0,5.629747,9.633649,0.00000,2.000000,3.000000,5.000000,8.000000e+01
population,59400.0,179.909983,471.482176,0.00000,0.000000,25.000000,215.000000,3.050000e+04
construction_year,59400.0,1300.652475,951.620547,0.00000,0.000000,1986.000000,2004.000000,2.013000e+03

In [6]:
#Check the dataset shape
train_df.shape

(59400, 40)

In [7]:
#Describe categorical features
train_df.describe(include="O").T

                       count unique                      top   freq
date_recorded          59400    356               2011-03-15    572
funder                 55765   1897   Government Of Tanzania   9084
installer              55745   2145                      DWE  17402
wpt_name               59400  37400                     none   3563
basin                  59400      9            Lake Victoria  10248
subvillage             59029  19287                 Madukani    508
region                 59400     21                   Iringa   5294
lga                    59400    125                   Njombe   2503
ward                   59400   2092                    Igosi    307
public_meeting         56066      2                     True  51011
recorded_by            59400      1  GeoData Consultants Ltd  59400
scheme_management      55523     12                      VWC  36793
scheme_name            31234   2696                        K    682
permit                 56344      2                     True  38852
extraction_type        59400     18                  gravity  26780
extraction_type_group  59400     13                  gravity  26780
extraction_type_class  59400      7                  gravity  26780
management             59400     12                      vwc  40507
management_group       59400      5               user-group  52490
payment                59400      7                never pay  25348
payment_type           59400      7                never pay  25348
water_quality          59400      8                     soft  50818
quality_group          59400      6                     good  50818
quantity               59400      5                   enough  33186
quantity_group         59400      5                   enough  33186
source                 59400     10                   spring  17021
source_type            59400      7                   spring  17021
source_class           59400      3              groundwater  45794
waterpoint_type        59400      7       communal standpipe  28522
waterpoint_type_group  59400      6       communal standpipe  34625

In [8]:
#Create a dataframe copy to be used in data cleaning using copy() method
train_df1 = train_df.copy(deep=True)
train_df1[:3]

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe

In [27]:
test_df1 = test_features.copy(deep = True)
test_df1[:3]

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,50785,0.0,2013,Dmdd,1996,DMDD,35.290799,-4.059696,Dinamu Secondary School,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other
1,51630,0.0,2013,Government Of Tanzania,1569,DWE,36.656709,-3.309214,Kimnyak,0,...,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
2,17168,0.0,2013,NaN,1567,NaN,34.767863,-5.004344,Puma Secondary,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,other,other

In [34]:
# check for unique values in each column at once using for loop
for coln in train_df1:
    coln_val = train_df1[coln].unique()
    print(f" {coln},'\n', {coln_val}", "\n")

 id,'
', [69572  8776 34310 ... 37057 31282 26348]

 amount_tsh,'
', [6.00e+03 0.00e+00 2.50e+01 2.00e+01 2.00e+02 5.00e+02 5.00e+01 4.00e+03
 1.50e+03 6.00e+00 2.50e+02 1.00e+01 1.00e+03 1.00e+02 3.00e+01 2.00e+03
 4.00e+02 1.20e+03 4.00e+01 3.00e+02 2.50e+04 7.50e+02 5.00e+03 6.00e+02
 7.20e+03 2.40e+03 5.00e+00 3.60e+03 4.50e+02 4.00e+04 1.20e+04 3.00e+03
 7.00e+00 2.00e+04 2.80e+03 2.20e+03 7.00e+01 5.50e+03 1.00e+04 2.50e+03
 6.50e+03 5.50e+02 3.30e+01 8.00e+03 4.70e+03 7.00e+03 1.40e+04 1.30e+03
 1.00e+05 7.00e+02 1.00e+00 6.00e+01 3.50e+02 2.00e-01 3.50e+01 3.06e+02
 8.50e+03 1.17e+05 3.50e+03 5.20e+02 1.50e+01 6.30e+03 9.00e+03 1.50e+02
 1.20e+05 1.38e+05 3.50e+05 4.50e+03 1.30e+04 4.50e+04 2.00e+00 1.50e+04
 1.10e+04 5.00e+04 7.50e+03 1.63e+04 8.00e+02 1.60e+04 3.00e+04 5.30e+01
 5.40e+03 7.00e+04 2.50e+05 2.00e+05 2.60e+04 1.80e+04 2.60e+01 5.90e+02
 9.00e+02 9.00e+00 1.40e+03 1.70e+05 2.20e+02 3.80e+04 2.50e-01 1.20e+01
 6.00e+04 5.90e+01]

 date_recorded,'
', [2011 2013 2012 2004 2002]

 funder,'
', ['Roman' 'Grumeti' 'Lottery Club' ... 'Dina' 'Brown' 'Samlo']

 gps_height,'
', [1390 1399  686 ...  -90 2091 2366]

 installer,'
', ['Roman' 'GRUMETI' 'World vision' ... 'Dina' 'brown' 'SELEPTA']

 longitude,'
', [34.93809275 34.6987661  37.46066446 ... 34.01708706 35.86131531
 38.10404822]

 latitude,'
', [-9.85632177 -2.14746569 -3.82132853 ... -8.75043433 -6.37857327
 -6.74746425]

 wpt_name,'
', ['none' 'Zahanati' 'Kwa Mahundi' ... 'Kwa Yahona Kuvala' 'Mshoro'
 'Kwa Mzee Lugawa']

 num_private,'
', [   0   39    5   45    6    3  698   32   15    7   25  102    1   93
   14   34  120   17  213   47    8   41   80  141   20   35  131    4
   22   11   87   61   65  136    2  180   38   62    9   16   23   42
   24   12  668  672   58  150  280  160   50 1776   30   27   10   94
   26  450  240  755   60  111  300   55 1402]

 basin,'
', ['Lake Nyasa' 'Lake Victoria' 'Pangani' 'Ruvuma / Southern Coast'
 'Internal' 'Lake Tanganyika' 'Wami / Ruvu' 'Rufiji' 'Lake Rukwa']

 subvillage,'
', ['Mnyusi B' 'Nyamara' 'Majengo' ... 'Itete B' 'Maore Kati' 'Kikatanyemba']

 region,'
', ['Iringa' 'Mara' 'Manyara' 'Mtwara' 'Kagera' 'Tanga' 'Shinyanga' 'Tabora'
 'Pwani' 'Ruvuma' 'Kilimanjaro' 'Rukwa' 'Mwanza' 'Kigoma' 'Lindi' 'Dodoma'
 'Arusha' 'Mbeya' 'Singida' 'Morogoro' 'Dar es Salaam']

 region_code,'
', [11 20 21 90 18  4 17 14 60 10  3 15 19 16 80  1  6  2 12 13  5  7 99 24
  9  8 40]

 district_code,'
', [ 5  2  4 63  1  8  3  6 43  7 23 33 53 62 60 30 13  0 80 67]

 lga,'
', ['Ludewa' 'Serengeti' 'Simanjiro' 'Nanyumbu' 'Karagwe' 'Mkinga'
 'Shinyanga Rural' 'Kahama' 'Tabora Urban' 'Mkuranga' 'Namtumbo' 'Maswa'
 'Siha' 'Meatu' 'Sumbawanga Rural' 'Njombe' 'Ukerewe' 'Bariadi' 'Same'
 'Kigoma Rural' 'Moshi Rural' 'Lindi Rural' 'Rombo' 'Chamwino' 'Bagamoyo'
 'Mafia' 'Arusha Rural' 'Kyela' 'Kondoa' 'Kilolo' 'Kibondo' 'Makete'
 'Singida Rural' 'Masasi' 'Rungwe' 'Moshi Urban' 'Geita' 'Mbulu'
 'Bukoba Rural' 'Muheza' 'Lushoto' 'Meru' 'Iramba' 'Kilombero' 'Mbarali'
 'Kasulu' 'Bukoba Urban' 'Korogwe' 'Bukombe' 'Morogoro Rural' 'Kishapu'
 'Musoma Rural' 'Sengerema' 'Iringa Rural' 'Muleba' 'Dodoma Urban'
 'Ruangwa' 'Hanang' 'Misenyi' 'Missungwi' 'Songea Rural' 'Tanga' 'Tunduru'
 'Hai' 'Mwanga' 'Chato' 'Biharamulo' 'Ileje' 'Mpwapwa' 'Mvomero' 'Bunda'
 'Kiteto' 'Longido' 'Urambo' 'Mbozi' 'Sikonge' 'Ilala' 'Tarime' 'Temeke'
 'Mbeya Rural' 'Magu' 'Manyoni' 'Igunga' 'Kilosa' 'Babati' 'Chunya'
 'Mufindi' 'Mtwara Rural' 'Ngara' 'Karatu' 'Mpanda' 'Kibaha'
 'Singida Urban' 'Newala' 'Nzega' 'Nkasi' 'Bahi' 'Mbinga' 'Ulanga'
 'Sumbawanga Urban' 'Morogoro Urban' 'Tandahimba' 'Kisarawe'
 'Mtwara Urban' 'Kilwa' 'Liwale' 'Kongwa' 'Uyui' 'Rufiji' 'Kwimba'
 'Monduli' 'Shinyanga Urban' 'Ngorongoro' 'Handeni' 'Rorya' 'Pangani'
 'Lindi Urban' 'Nachingwea' 'Kinondoni' 'Kigoma Urban' 'Ilemela' 'Kilindi'
 'Arusha Urban' 'Songea Urban' 'Nyamagana']

 ward,'
', ['Mundindi' 'Natta' 'Ngorika' ... 'Chinugulu' 'Nyamtinga' 'Kinungu']

 population,'
', [109 280 250 ... 845 976 788]

 public_meeting,'
', [True nan False]

 recorded_by,'
', ['GeoData Consultants Ltd']

 scheme_management,'
', ['VWC' 'Other' nan 'Private operator' 'WUG' 'Water Board' 'WUA'
 'Water authority' 'Company' 'Parastatal' 'Trust' 'SWC' 'None']

 scheme_name,'
', ['Roman' nan 'Nyumba ya mungu pipe scheme' ... 'BL Nsherehehe'
 'Magati  gravity spri' 'Mtawanya']

 permit,'
', [False True nan]

 construction_year,'
', [1999 2010 2009 1986    0 2011 1987 1991 1978 1992 2008 1974 2000 2002
 2004 1972 2003 1980 2007 1973 1985 1970 1995 2006 1962 2005 1997 2012
 1996 1977 1983 1984 1990 1982 1976 1988 1989 1975 1960 1961 1998 1963
 1971 1994 1968 1993 2001 1979 1967 2013 1969 1981 1964 1966 1965]

 extraction_type,'
', ['gravity' 'submersible' 'swn 80' 'nira/tanira' 'india mark ii' 'other'
 'ksb' 'mono' 'windmill' 'afridev' 'other - rope pump' 'india mark iii'
 'other - swn 81' 'other - play pump' 'cemo' 'climax' 'walimi'
 'other - mkulima/shinyanga']

 extraction_type_group,'
', ['gravity' 'submersible' 'swn 80' 'nira/tanira' 'india mark ii' 'other'
 'mono' 'wind-powered' 'afridev' 'rope pump' 'india mark iii'
 'other handpump' 'other motorpump']

 extraction_type_class,'
', ['gravity' 'submersible' 'handpump' 'other' 'motorpump' 'wind-powered'
 'rope pump']

 management,'
', ['vwc' 'wug' 'other' 'private operator' 'water board' 'wua' 'company'
 'water authority' 'parastatal' 'unknown' 'other - school' 'trust']

 management_group,'
', ['user-group' 'other' 'commercial' 'parastatal' 'unknown']

 payment,'
', ['pay annually' 'never pay' 'pay per bucket' 'unknown'
 'pay when scheme fails' 'other' 'pay monthly']

 payment_type,'
', ['annually' 'never pay' 'per bucket' 'unknown' 'on failure' 'other'
 'monthly']

 water_quality,'
', ['soft' 'salty' 'milky' 'unknown' 'fluoride' 'coloured' 'salty abandoned'
 'fluoride abandoned']

 quality_group,'
', ['good' 'salty' 'milky' 'unknown' 'fluoride' 'colored']

 quantity,'
', ['enough' 'insufficient' 'dry' 'seasonal' 'unknown']

 quantity_group,'
', ['enough' 'insufficient' 'dry' 'seasonal' 'unknown']

 source,'
', ['spring' 'rainwater harvesting' 'dam' 'machine dbh' 'other'
 'shallow well' 'river' 'hand dtw' 'lake' 'unknown']

 source_type,'
', ['spring' 'rainwater harvesting' 'dam' 'borehole' 'other' 'shallow well'
 'river/lake']

 source_class,'
', ['groundwater' 'surface' 'unknown']

 waterpoint_type,'
', ['communal standpipe' 'communal standpipe multiple' 'hand pump' 'other'
 'improved spring' 'cattle trough' 'dam']

 waterpoint_type_group,'
', ['communal standpipe' 'hand pump' 'other' 'improved spring'
 'cattle trough' 'dam']

In [35]:
for coln in test_df1:
    coln_val = test_df1[coln].unique()
    print(f" {coln},'\n', {coln_val}", "\n")

 id,'
', [50785 51630 17168 ... 28749 33492 68707]

 amount_tsh,'
', [0.00e+00 5.00e+02 3.00e+01 5.00e+00 1.00e+03 1.20e+03 2.00e+02 2.00e+01
 5.00e+01 1.50e+03 2.40e+03 7.00e+00 7.50e+03 2.00e+03 3.00e+02 1.00e+02
 1.00e+01 2.50e+02 4.00e+03 3.00e+03 2.50e+03 2.50e+01 6.00e+00 4.00e+01
 7.50e+02 4.00e+02 6.00e+02 5.00e+03 1.50e+02 6.00e+03 3.30e+01 1.80e+04
 2.20e+03 1.20e+04 3.60e+03 8.00e+03 7.00e+02 4.70e+03 4.50e+02 6.00e+01
 1.00e+04 1.50e+01 2.00e+04 6.50e+03 7.00e+01 3.00e+04 2.50e+04 3.50e+04
 1.50e+04 2.00e+05 1.00e+05 7.00e+04 2.00e-01 1.40e+04 7.20e+03 3.50e+03
 2.00e+00 4.00e+04 3.50e+02 3.50e+01 7.00e+03 3.00e+00 2.55e+03 5.00e+04
 6.00e+04 5.00e-01 5.50e+02 2.80e+03]

 date_recorded,'
', [1970]

 funder,'
', ['Dmdd' 'Government Of Tanzania' nan 'Finn Water' 'Bruder' 'Finw' 'Unicef'
 'Lawatefuka Water Supply' 'Germany Republi' 'World Vision' 'World Bank'
 'Ministry Of Water' 'Danida' 'Rural Water Supply And Sanitat' '0' 'Dwe'
 'Tasaf' 'Mwanashila' 'Tz Japan' 'Germany' 'Water' 'Dwsp' 'Bffs'
 'Private Individual' 'Tlc' 'Mkinga Distric Coun' 'Nethalan' 'Jaica'
 'Rotary Club' 'Morovian' 'Isf/government' 'Rc Church' 'Dwssp' 'Jica'
 'Hesawa' 'Concern' 'People Of Japan' 'Solidarm' 'Kkkt' 'Adra' 'Rudep'
 'Water Aid /sema' 'Rc' 'Professor Ben Ohio University'
 'Kibaha Town Council' 'Idydc' 'Ki' 'African' 'Adp' 'Si' 'France' 'Kadp'
 'Village Council/ Haydom Luther' 'Tdft' 'Norad' 'Rw Ssp' 'Franc' 'Rwssp'
 'Wua' 'Unice' 'Ces (gmbh)' 'Fathe' 'Oikos E.Afrika' 'M'
 'Plan International' 'Bsf' 'Mws' 'Kiliwater' 'Finland' 'Caritas' 'Fdc'
 'Anglican Church' 'Tanza' 'African Development Bank' 'One Un' 'Commu'
 'Shawasa' 'Aict' 'Magadini-makiwaru Water' 'Roman Church' 'Ddca' 'Hifab'
 'Fini Water' 'Cefa' 'Care/crc' 'Twesa' 'Ir' 'Tardo'
 'Swisland/ Mount Meru Flowers' 'Shipo' 'Wateraid' 'Lga' 'Missi' 'Tcrs'
 'Dh' 'Mission' 'Hsw' 'Ces(gmbh)' 'Kalitasi' 'Kuwait' 'Dolf Project'
 'Roman Catholic' 'Muwsa' 'Tanzania And Egypt Cooperat'
 'Kilindi District Co' 'Private' 'Dfid' 'Community' 'Gain' 'Kirdep'
 'Padep' 'Hw/rc' 'Lwi' 'Wsdp' 'Nk' 'He' 'Tredep' 'Malec' 'Snv' 'Swiss If'
 'Adb' 'Grail Mission' 'District Council' 'Halmashauri Ya Wilaya Sikonge'
 'Irish Ai' 'St' 'Kiuma' 'Fin Water' 'Selous G' 'Isf' 'Hans' 'Undp' 'Wvt'
 'Oxfarm' 'Kanisa La Menonite' 'Devon Aid Korogwe' 'Kirde' 'Machibya Guma'
 'T' 'Handeni Trunk Main(' 'Mkinga  Distric Cou' 'Japan Food' 'Aimgold'
 'Veo' 'Gtz' 'Jaic' 'Oxfam' 'Dhv' 'Oxfarm Gb' 'Mount Meru Flowers'
 'Tassaf' 'Jbg' 'Olumuro' 'Sema' 'H' 'Mileniam Project'
 'Care International' 'Il' 'Plan' 'Krf' 'Vttp' 'Roman' 'Cmcr' 'Adf' 'Co'
 'Lench' 'Netherlands' 'Wananchi' 'European Union' 'Lvia'
 'Concern World Wide' 'Fw' 'Kkkt_makwale' 'Qwickwin' 'Kidp' 'Sabemo'
 'Kmcl' 'Action Aid' 'Sda' 'Government/ World Bank' 'Aco/germany'
 'Msikiti' 'Dadis' 'Tanap' 'Ifad' 'Conce' 'Tober And Friends From Austral'
 'Kuamu' 'Rc Ch' 'Tanapa' 'Clause' 'Rada' 'Dwspd' 'Romam Catholc/vil'
 'Amref' 'Dasip' 'Plan Int' 'Tabora Municipal Council' 'Jika' 'Lifetime'
 'Undp/ilo' 'Prf' 'Wwf' 'Magoma Adp' 'Go' 'Local' 'Uwamalu'
 'Idara Ya Maji' 'Halmashauri Ya Wilaya' 'Twe' 'National Rural' 'Hpa'
 'Mamlaka Ya Maji Ngara' 'Cobashec' 'Ncaa' 'Dwe/norad'
 'Belgian Government' 'Japan Embassy' 'Tuwasa' 'Ox' 'Benguka' 'Vwc'
 'Samsoni' 'Dhv\\norp' 'Finida German Tanzania Govt' 'Dwst'
 'Longido Sec School' 'Ded' 'Shule' 'Ba As' 'Solidame' 'Dads' 'Tado'
 'Donor' 'Ai' 'Roman Cathoric -kilomeni' 'Kyela Council'
 'Action Contre La Faim' 'Serena' 'Zaben' 'Kaempo' 'Ministry Of Education'
 'Md' 'Redep' 'Water User As' 'Dhv/gove' 'Serikali' 'W' 'Gen' 'Africare'
 'Cdtf' 'Sinohydro' 'Tacare' 'Ga' 'Ramadhan Dau' 'Mdrdp' 'Bgm' 'No' 'Ka'
 'Songas' 'Resolute Mining' 'Water Aid/dwe' 'Envirocare' 'Mbunge'
 'W.D.&.I.' 'School' 'Swedish' 'Roman Cathoric-same'
 'The Desk And Chair Foundati' 'Private Owned' 'Villagers' 'Idc' 'Kaemp'
 'Abasia' 'Ru' 'China Government' 'Cmsr' 'Ripat' 'Water Of Water'
 'Water Aid/sema' 'Tadepa' 'Kerebuka' 'Un' 'Churc' 'Ereto'
 'Unicef/central' 'Village Committee' 'Rwsp' 'Childreach' 'Is' 'Kuwasa'
 'Senapa' 'Serving And Friends' 'Eu/acra' 'Water /sema' 'Mzee Ole'
 'Tulawaka Gold Mine' 'Uhai Wa Mama Na Mtoto' 'Unhcr' 'Marafip' 'Cdcg'
 'Lwiji Italy' 'I Wash' 'Sowasa' 'Idea' 'New York General Meeting'
 'St Savery Primary School' 'Aar' 'Government/ Community' 'W.B' 'Priva'
 'Mrtc' 'Kyela-morogoro' 'Biore' 'Not Known' 'Usa Embassy'
 'Reginald Mengi' 'Millenium' 'Po' 'Nsc' 'Friends Of Bariadi'
 'Missionaries' 'Eagt Church' 'Ridep' 'Lotary Club' 'Colonial Government'
 'Water User Group' 'Private Co' 'Cspd' 'Dimel' 'Pangaboi Health Centre'
 'Kimkuma' 'Happy Watoto Foundation' 'Red Cross' 'Ta' 'Finland Government'
 'Save The Rain Usa' 'Drwssp' 'Sida' 'Ics' 'Baptist Church' 'Mbiuwasa'
 'Cefa-njombe' 'Urt' 'Songea District Council' 'Islam' 'Wfp' 'Cg/rc'
 'Mheza Distric Counc' 'Islamic Found' 'Bened' 'Cristan Outrich' 'Kidep'
 'Losaa-kia Water Supply' 'Milenia' 'Nrwssp' 'Cocern' 'Laurian Rafaeli'
 'Do' 'Crdb' 'Kanisa' 'Bahewasa' 'Lutheran Church' 'Nethe' 'Minis' 'Lamp'
 'Ministry Of Healthy' 'Isaboga' 'Oikos E.Africa/european Union'
 'Kkkt Church' 'Kalta' 'Pidp' 'Watu Wa Ujerumani'
 'Koica And Tanzania Government' 'Quick Wings' 'World Vision/adra'
 'Ustawi' 'Mwelia Estate' 'Wvt Nakombo Adp' 'Cipro/care'
 'Government /tassaf' 'Vifafi' 'Tumaini Fund' 'Canada' 'Fpct Church'
 'Rafik' 'Nchagwa' 'Mwaya Mn' 'Kkkt Imbaseny' 'Village Community' 'Samlo'
 'Users' 'Msabi' 'Colonies' 'Global Fund' 'Cocen' 'Re' 'Dhv Moro'
 'Village Council' 'H/w' 'Norad/government' 'Ham' 'Wua And Ded'
 'Mzee Maisha' 'Mkuyu' 'Village Govt' 'Irevea Sister' 'Anrikana'
 'Omary Dodo' 'Bank' 'Hewasa' 'Ndrdp' 'Makonde Water Supply' 'Panone'
 'Serikari' 'Quick' 'Efg' 'Soda' 'Kanisa Katoliki Lolovoni' 'Mama'
 'Teak Com' 'Summit For Water' 'Wd And Id' 'Tanzakesho' 'Filo' 'El'
 'Water Board' 'Zara Camp' 'Peace Cope' 'Kyariga' 'Imf' 'Tltc' 'Ms'
 'Mwanasukari' 'Ubalozi Wa Marekani/dwe' 'Nytamboka' 'Jimbo Fund' 'Elct'
 'Sekei Village Community' 'Ngiresi Village Community' 'Institution'
 'Simmors' 'Acra' 'Sdg' 'Nduku Village' 'Islamic' 'Asb'
 'Bulyahunlu Gold Mine' 'Makonde Water Population' 'World Vision/ Kkkt'
 'Grumeti' 'Killflora' 'Lgdcg' 'Domestic Rural Development Pro' 'Unise'
 'Answar' 'Japan' 'Cg' 'Rc Church/centr' 'Holland' 'Women For Partnership'
 'Dasap' 'Norad/ Kidep' 'Miziriol' 'Mi' 'Msf' 'B.A.P' 'Usaid' 'Asdp'
 'Watoto Foundation' 'Zao Water Spring' 'D' 'Menon'
 'Songea Municipal Counci' 'Maendeleo Ya Maji' 'Lgcd' 'African Relie'
 'Acord' 'Umfaiswary' 'Maxavella' 'Nakayama' 'The Isla' 'Sijm' 'Bs'
 'Lottery Club' 'Giz' 'Greinaker' 'Kwik' 'Halmashauri' 'Luthe' 'Mkukuta'
 'Ilo' 'Village' 'Oldadai Village Community' 'Kwa Cheon Rotary Club'
 'Heswa' 'Umoja Makanisa Pentekoste Tz' 'Rc/mission' 'De' 'Dw' 'Ilct'
 'Isf/tacare' 'Bakari Hamisi' 'Desk And Chair Foundation' 'Secondary'
 'Dct' 'Adp Mombo' 'Kilomber' 'Wamisionari Wa Kikatoriki' 'Villager'
 'Tassaf/ Danida' 'African Development Foundation' 'Duwas' 'Moravian'
 'Tirdo' 'W.D &' 'Cipro' 'Chamavita' 'Mzinga A' 'Tridep' 'School Capital'
 'Kiwanda Cha Samaki' 'Finwater' 'Songa Hospi' 'Loliondo Secondary'
 'Unicef/cspd' 'Kilwater' 'British Colonial Government' 'Rdc' 'Wfp/tnt'
 'Halmashauri Ya Manispa Tabora' 'Uniceffinidagermantanzania' 'Tassaf Ii'
 'Quwkwin' 'African 2000 Network' 'Cafod' 'Mzee Moh' 'Nipon & Panoco'
 'Mlolwa Masanja' 'Lips' "Park Kyung Youl's" 'Total Landcare' 'Shekh Said'
 'Jeica' 'Suwasa' 'Roman Cathoric Same' 'The Desk And Chair Foundat'
 'Sswp' 'Cbhi' 'Sumbawanga Munici' 'Rentobe' 'Tag Church Vi'
 'Total Land Care' 'Quick Wins' 'S.S.S' 'Lgcdg' 'Rcchurch/cefa' 'Partage'
 'Vcw' 'African Muslim Agency' 'Rc Churc' 'Peters' 'Stantons'
 'Roman Catholic Rulenge Diocese' 'Tambalizeni' 'Hiap' 'Mh An' 'Netherla'
 'Makundya' 'Tom' 'Salim Ahmed Salim' 'Plan Internatio'
 'Water User Associat' 'Tassaf I' 'Mtuwasa And Community' 'Migration'
 'Simavi' 'Sant Sigfrigs Sweden' 'British Tanza' 'Nazareth Church'
 'Maji Mugumu' 'Halmashauri Ya Manispaa' 'Kkkt Usa' 'Particular' 'Mons.'
 'Wfp/usaid' 'Dbfpe' 'Tasaf/dmdd' 'Rotery C' 'Wards' 'Kigoma Municipal'
 'Sister Francis' 'Ndanda Missions' 'Mzungu Paul' 'Tanroad' 'Obc'
 'Dar Al Ber' 'Craelius' 'Pad' 'Snv-swash' 'Tgts' 'Fida'
 'Cipro/government' 'Ebaha' 'Finidagermantanzania Govt' 'Daids' 'Iado'
 'Germany Misionary' 'Mmem' 'Anjuman E Seifee' 'Vunjo Sekondari' 'Mosque'
 'Jandu' 'Wrssp' 'Pmo' 'Italy' 'Idara Ya Afya' 'Wizara' 'Brad' 'Council'
 'Holla' 'Mowi' 'Sao H' 'Danida /government' 'Rudep/dwe' 'Wwf / Fores'
 'Lcgd' 'Redcross' 'Goldfinder' 'Tasafu' 'Mahiti' 'A/co Germany'
 'Geita Goldmain' 'Sangea District Council' 'Isingiro Ho' 'Acord Ngo'
 'Government/tassaf' 'Moroil' 'Kijij' 'Lugoba Primar' 'Woyege' 'Miomb'
 'Magoma Adpvwc' 'Heaswa' 'Tahea' 'Kanute Haule' 'Bi Ndizi'
 'School Administration' 'Tasaf/village Community' 'Belgij' 'Marwa'
 'Wingeti Safari' 'Stabex' 'Nicodemu Mkumbw' 'Waingereza' 'Kulwa'
 'Bi Kidawa' 'Lengai Makoo' 'Mtuwasa' 'Village Government'
 'Private Institutions' 'Serian' 'Cefa/ Rc Church' 'Aveda' 'Wate Aid/sema'
 'Rished' 'Dwe And Veo' 'Koica' 'Sipdo' 'Concern /govern' 'Kinapa' 'Cpro'
 'Kibwana Maumba' 'German Missionary' 'Private Manager' 'Lions' 'Robert'
 'Cuso' 'Water Project Mbawala Chini' 'Lowasa' 'Scott'
 'Free Pentecoste Church Of Tanz' 'Aic' 'Us Embassy'
 'Tcrs/village Community' 'Childreach International' 'Local Government'
 'Mbunnge Mkono' 'Mgolole' 'Hesawz' 'Robert Loyal' 'Colon'
 'People From Japan' 'Mwika Lekura Water User' 'Mwang' 'Mdc' 'P'
 'H/kijiji' 'Christian Outrich' 'Ch' 'Hemed Islam' 'Rwssp/wsdp' 'Baric'
 'Trachoma' 'Mac' 'Salim Aliamari' 'Tlc/community' 'Losakia Water Supply'
 'Railway' 'Kibo Brewaries' 'Mwita Muremi' 'Tackle'
 'Eung-am Methodist Church' 'Af' 'Omari Abdallah' 'None' 'Norplan'
 'The People Of Japan' 'Dassip' 'Lgsp/dwe' 'Trach' 'Mapinga Prima'
 'World Bank/government' 'Socie' 'C' 'Tag' 'Kanisa La Kkt'
 'Olgilai Village Community' 'Lawate Fuka Water Suppl' 'U.S.A' 'Sabodo'
 'Moyowosi' 'Living Water International' 'Lions Club' 'Dak' 'Rcchurch'
 'Hima' 'Member Of Parliament' 'Wise-usa' 'Mzee Chacha' 'Bridge North'
 'Sengerema District Council' 'Fpct' 'Norad /government' 'Makori Nyitange'
 'Villegers' 'Hesaw' 'Kkkt Kolila' 'Regional Water Engineer Arusha'
 'Matimo Sangi' 'Ubalozi Wa Marekani' 'Tarangire Park'
 'Rural Drinking Water Supply' 'Maji Mengi' 'Redeso' 'Private Company'
 'Mboma' 'Semaki K' 'Italy Government' 'Mlifa' 'Fico' 'Peter Tesha'
 'Tanzania/australia' 'Bgss' 'Mhema' 'Angrikana' 'Lakailo'
 'Friends Of Kahama' 'Roman Ca' 'Rulenge Diocese' 'Mosha'
 'Jumuiya Ya Dar Al Ber_uae' 'Kazipombe' 'Totoland' 'Nazareti' 'Kijiji'
 'Aljazera' 'Ci' 'Colony' 'Omary Issa' 'Wfp/usaid/tnt' 'Rc Mission'
 'Tanzania Na Egypt' 'G.D&i.D' 'Kkkt-dioces Ya Pare' 'Pentecosta Church'
 'Mwanga Town Water Authority' 'Eu' 'Lobosiret Village Community'
 'Ilkeri Village' 'Greec' 'Dawasco' 'Mem' 'Lga And The Commu' 'In'
 'Cdtfdistrict Council' 'Mwakipesile' 'Roman Cathoric' 'Ccm' 'Menonite'
 'Makonde' 'Village Authority' 'Rc Cathoric' 'Unknown' 'Mosque Bugula'
 'Q-sem Ltd' 'Magati' 'Bandika Kilewa' 'Abd' 'Kagera' 'Morrevian'
 'Uniceffinida German Tanzani' 'Diocese Of Geita' 'Anyemike'
 'Gachuma Ginery' 'Pod' 'Ras' 'Tanzania' 'Nyabasamba' 'Rundu Man'
 'Rural Water Supply And Sanita' 'Wazieni Bilangali' 'Snv Ltd' 'Dioce'
 'Leef Gold Mining' 'Iwash' 'Swedish Tandala Project'
 'Rural Water Department' 'Dasp' 'Mzee Shekhe' 'Mosque Pera'
 'Hapa Singida' 'Diwani Maige' 'Fredked Conservation' 'Ngo Kinapa' 'Nddp'
 'Saboga Bise Makori' 'Bfwd' 'Mgaya' 'Morrovian' 'Mzee Matiti Edwin'
 'Government/julius' 'Ba' 'Bingi Foundation In German' 'Ola'
 'Kinapa Canada' 'Ballo' 'Nado' 'Finland Government Finland Gov'
 'Ikela Wa' 'Dacip' 'Ihehana' 'W0rld  Bank' 'Oxfam Gb' 'Old Bank'
 'Tcrs /care' 'Rotary I' 'Mamad' 'Mh Kapuya' 'Kome Parish' 'Act' 'Mambe'
 'Singida Yetu' 'Shabani Mharami' 'Quickwi' 'Eagt'
 'Swisland/mount Meru Flowers' 'Udc/sema' 'School Adm9nstrarion' 'Trc'
 'Mjaka Mtumwa' 'Halmashauli' 'Schoo' 'Kkkt Mso' 'Jgb'
 'Haydom Lutheran Hospital' 'Moslem Foundation' 'Mukwabi Nyeisa'
 'Matyenye' 'Othodox Church' 'Undp/aict' 'Dmdd/solider' 'Odc'
 'Danida /wsdp' 'Tanzania Nea Egypt' 'Cct' 'Magufudi' 'Solar Villa'
 'Drdp Ngo' 'Mianz' 'Bint' 'Mbozi District Council' 'Said A Alf'
 'Sikonge Copper Mi' 'Tanzania Christian Service' 'Farm 17 Secondary'
 'Scharnhorstgymnasium' 'Williamson Diamond Ltd' 'Patrick Marwa' 'Norlad'
 'Said Nassoro' 'Father Bonifasi' 'Sharot' 'Ddp' 'Muslims' 'Kkkt Church S'
 'Farm' 'Khanga' 'Nyanokwi' 'Agness' 'Heasawa' 'Nzige' 'Iucn'
 'Tcrs /government' 'Village Gover' 'Adap' 'The Vickrey Well'
 'Lench Talamaye' 'Ilolangulu Water Supply/mileni' 'Guje Olsson' 'Crs'
 'Ruben Hunting' 'Medicine Lumundi' 'Bi Chau' 'Ngos' 'Cpps Wat'
 'Ded And Priva' 'Idc-ihushi Dev Centre' 'Seronera' 'Seleman' 'Father W'
 'Rural Water Supply' 'Maidia Simgaya' 'Dhv/comm' 'Vodacom' 'Kyagoka'
 'Igwachanya Seco' 'Marsfip' 'Villa' 'Qwiqwi' 'Cipro/care/tcrs'
 'Nyamongo Gold Mining' 'Abdul' 'Floresta' 'Chiko In' 'Parastatal'
 'Kwiboni' 'Tasmin' 'Dwsp & Central Government' 'Cocu' 'Chacha'
 'Kingupira S' 'Rafael' 'Japan Government' 'Mkumbukwa' 'Isg' 'Dmk'
 'Poland Sec School' 'Att/total Land Care' 'Missio' 'Ji-eun'
 'Tz/japan Embass' 'Pancra I' 'Kashwas' 'Kcu' 'Unesco' 'Tomas Kasmil'
 'Pataji' 'Ndovu Resources' 'Ulanga C' 'Hadija Makame' 'Mombia' 'Canaco'
 'Banane' 'Lcdg' 'Serikali Ya Kijiji' 'Nyamigogo' 'Village Fou'
 'Compasion International' 'Velem' 'Livin']

 gps_height,'
', [1996 1569 1567 ... 1909 2202  640]

 installer,'
', ['DMDD' 'DWE' nan ... 'O &' 'Central government/TLC' 'LIVI']

 longitude,'
', [35.2907992  36.65670893 34.76786315 ... 34.7398045  35.43273168
 34.76505448]

 latitude,'
', [ -4.05969643  -3.30921425  -5.00434437 ...  -4.58558667 -10.58415869
 -11.22601197]

 wpt_name,'
', ['Dinamu Secondary School' 'Kimnyak' 'Puma Secondary' ... 'Kwambwezi'
 'Bonde La Mkondoa' 'Kwa Mzee Chagala']

 num_private,'
', [  0   3  93   1  22 102   6   5  16 669  11   7   2   8   4  15  17  25
 120  45  32  23  47  65  12  10  41  39  26  50  13 180  80  34 420 141]

 basin,'
', ['Internal' 'Pangani' 'Ruvuma / Southern Coast' 'Rufiji' 'Lake Victoria'
 'Lake Tanganyika' 'Wami / Ruvu' 'Lake Rukwa' 'Lake Nyasa']

 subvillage,'
', ['Magoma' 'Kimnyak' 'Msatu' ... 'Kipengele' 'Kosoro' 'Kamba']

 region,'
', ['Manyara' 'Arusha' 'Singida' 'Lindi' 'Ruvuma' 'Iringa' 'Mtwara'
 'Kilimanjaro' 'Tabora' 'Mwanza' 'Pwani' 'Tanga' 'Shinyanga'
 'Dar es Salaam' 'Kigoma' 'Dodoma' 'Morogoro' 'Mbeya' 'Kagera' 'Mara'
 'Rukwa']

 region_code,'
', [21  2 13 80 10 11  9 90  3 14 19  6  4 17  7 16  1 24  5 12 99 18 20 15
  8 60]

 district_code,'
', [ 3  2 43  7  4 33  5  1  6 30  8 13 63 53 62 23 60 67  0 80]

 lga,'
', ['Mbulu' 'Arusha Rural' 'Singida Rural' 'Liwale' 'Mbinga' 'Kilolo'
 'Tandahimba' 'Newala' 'Siha' 'Hai' 'Simanjiro' 'Igunga' 'Kwimba'
 'Iringa Rural' 'Songea Rural' 'Mafia' 'Lushoto' 'Bukombe' 'Temeke'
 'Njombe' 'Kigoma Rural' 'Maswa' 'Dodoma Urban' 'Bariadi' 'Kiteto'
 'Karatu' 'Nzega' 'Uyui' 'Mkinga' 'Mwanga' 'Mvomero' 'Mbeya Rural'
 'Mtwara Rural' 'Muheza' 'Shinyanga Rural' 'Same' 'Rungwe' 'Tunduru'
 'Kishapu' 'Kilwa' 'Geita' 'Ukerewe' 'Moshi Rural' 'Namtumbo' 'Ngara'
 'Tarime' 'Mufindi' 'Ulanga' 'Rombo' 'Magu' 'Kasulu' 'Mbozi' 'Hanang'
 'Sumbawanga Rural' 'Bahi' 'Urambo' 'Misenyi' 'Karagwe' 'Meru'
 'Bukoba Rural' 'Kondoa' 'Kilosa' 'Kibaha' 'Babati' 'Mpanda' 'Makete'
 'Kahama' 'Muleba' 'Tabora Urban' 'Ilala' 'Sumbawanga Urban'
 'Morogoro Rural' 'Bagamoyo' 'Ludewa' 'Bunda' 'Ilemela' 'Chamwino'
 'Biharamulo' 'Kibondo' 'Missungwi' 'Bukoba Urban' 'Nanyumbu' 'Meatu'
 'Pangani' 'Chunya' 'Masasi' 'Nachingwea' 'Iramba' 'Musoma Rural'
 'Korogwe' 'Moshi Urban' 'Kongwa' 'Kilindi' 'Rufiji' 'Singida Urban'
 'Lindi Rural' 'Chato' 'Longido' 'Shinyanga Urban' 'Mbarali' 'Nkasi'
 'Mpwapwa' 'Monduli' 'Kilombero' 'Ruangwa' 'Sikonge' 'Rorya' 'Handeni'
 'Serengeti' 'Arusha Urban' 'Mtwara Urban' 'Kyela' 'Sengerema' 'Manyoni'
 'Ileje' 'Kinondoni' 'Ngorongoro' 'Mkuranga' 'Morogoro Urban' 'Kisarawe'
 'Tanga' 'Kigoma Urban' 'Songea Urban' 'Nyamagana' 'Lindi Urban']

 ward,'
', ['Bashay' 'Kimnyaki' 'Puma' ... 'Nsemulwa' 'Kikubiji' 'Idifu']

 population,'
', [  321   300   500   250    60   200   600     1    40    75     0   900
   120    30  1750    50   860   360    45   400   180   530  1200   560
   230   150   950   221    25   125    80    98   320    72    70   350
    20   390   650   192   260   189   850   100    96   740   590    16
   630   210    65   218   700    23   380   195   182    59    35   569
  2400  1800   112   106   149    63   670    43   340   170   197   240
   280    89   142   356    90    15   847    56    10   750  3000     2
  1530   450   420   219   175   480  4000   552  1000     5   145   550
   212   980   111    36   184   185     4   821   455   234  2000    86
  3226   370  1143   160   595     8   490   800   358    52    54   140
   398   248    42  2300   235   454   109   220  3500   308   310  2152
    88  3600   406  3400  1300    79   532   632   352   290  1600   325
   159   225    78   896    55   330   135   328   348   456   568   208
  1230   387   442    12   610  5000   375   130   371   143   215   153
  1900   561  1041   201   156   410   231   247    26   543   861   270
    18    57   412   812    67   213   305   520    69  5500  1483   363
   369   261    53   165    48   712   246   103   110   144   402   239
  1144   183   680  3700   389    99    68   245  2530   312    95   343
   263  1500    77    84    85   115  2500   540   435   430   102   255
   236   286   256    33   793   588   258  7200   128   354   640  5300
   133    83   278   126  4280   205   570    58   154   243   244    97
  6922   299  1114   960   770    66    94  3550  2550    24   190     6
   342   217    11   123   214   155   609  6000   780  1400   634  4900
   281   663   137   840  1523   447   555  4200   269   541   167   237
  2445   956   238   345   324  2370   259  2620   684   268   763  2100
   462  2600   838   178   273   216   132   302  1420   445   117   146
   498  4782   186   253   187   506    47  1700   648   264   472    76
    28    64   660   386  1024   254   385  1536   760   758   742  1402
   460    49   510   470  3200   743     3   583  3770   211  4500  1360
   114   233   870   810   735  1250    92   428   485   451  1228   303
   374   333   489  4208   285   158   448   668   355   690  4520  2002
   866   817   395  3595    91   836  2030   467  3110   703   198   381
   890   625    46   206   105  1170   267   108   275   203   713   491
   367   790   769  1213   136   620   440   298   287   463   453     9
   734   166  2140   164   204   257    82  1110   288  1950   754  1025
   331   338   865  9000    51   265   756  1050    44   151   786  1460
   698   459   279   391  7000   296    61   863   898    19   357   507
   372  1860   727   720   653   475  1100   580  2145   113   820  2365
   226   745  4735  2200   546    93   425   289   685   582  1020  1150
   876   163   232   365   209  1655  1296  4521  5212   514   241   571
   249   985  1350   176   772   148  1892   726   537  1013   346   403
   859   478  1245   721   930   432   468  2800   970  3520   495   586
   654   122   678  1432   646   173  1142   276   179  4005   396   521
   344   549   691   585   642   284   291   567  2685   242  1234   785
  1735   417   637   517   834  5600  1560   542   315  1231   444 11469
   825   309   639   252   207   196   322   672   295   986    27   423
   548   465   311   319  1239   119    31    38  1072   655   457    14
   731   652   563  3020   693  1650  6500   138  1030  1115   337   496
   474  9800   725   623   488   991  1140   191   525   134   751    87
   466   687   379   805   438   715   753   171   554   765    73   556
   927   458    17  3220  1280  4960  2450  1450   461   714    34  1685
   121   107   129    32  2250   266   283   505   366   603   152   536

## Data Cleaning

In [10]:
train_df1.columns

Index(['id', 'amount_tsh', 'date_recorded', 'funder', 'gps_height',
       'installer', 'longitude', 'latitude', 'wpt_name', 'num_private',
       'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga',
       'ward', 'population', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name', 'permit', 'construction_year',
       'extraction_type', 'extraction_type_group', 'extraction_type_class',
       'management', 'management_group', 'payment', 'payment_type',
       'water_quality', 'quality_group', 'quantity', 'quantity_group',
       'source', 'source_type', 'source_class', 'waterpoint_type',
       'waterpoint_type_group'],
      dtype='object')

In [28]:
test_df1.columns

Index(['id', 'amount_tsh', 'date_recorded', 'funder', 'gps_height',
       'installer', 'longitude', 'latitude', 'wpt_name', 'num_private',
       'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga',
       'ward', 'population', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name', 'permit', 'construction_year',
       'extraction_type', 'extraction_type_group', 'extraction_type_class',
       'management', 'management_group', 'payment', 'payment_type',
       'water_quality', 'quality_group', 'quantity', 'quantity_group',
       'source', 'source_type', 'source_class', 'waterpoint_type',
       'waterpoint_type_group'],
      dtype='object')

In [11]:
#deleting single column
#del df1["id"]

#train_df1.drop(columns= "id", axis = 1, inplace=True)

#### Null Values

In [12]:
train_df1.isnull().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
dtype: int64

In [29]:
test_df1.isnull().sum()

id                          0
amount_tsh                  0
date_recorded               0
funder                    869
gps_height                  0
installer                 877
longitude                   0
latitude                    0
wpt_name                    0
num_private                 0
basin                       0
subvillage                 99
region                      0
region_code                 0
district_code               0
lga                         0
ward                        0
population                  0
public_meeting            821
recorded_by                 0
scheme_management         969
scheme_name              7092
permit                    737
construction_year           0
extraction_type             0
extraction_type_group       0
extraction_type_class       0
management                  0
management_group            0
payment                     0
payment_type                0
water_quality               0
quality_group               0
quantity                    0
quantity_group              0
source                      0
source_type                 0
source_class                0
waterpoint_type             0
waterpoint_type_group       0
dtype: int64

#### Duplicates

In [31]:
# train
train_duplicates = train_df1.duplicated()
print( f'There are {train_duplicates.sum()} duplicates in the Train data')

#test
test_duplicates = test_df1.duplicated()
test_duplicates.sum()
print( f'There are {test_duplicates.sum()} duplicates in the Test data')

#train_status
train_status_duplicates = train_status.duplicated()
train_status_duplicates.sum()
print( f'There are {train_status_duplicates.sum()} duplicates in the Train_status data')

There are 0 duplicates in the Train data
There are 0 duplicates in the Test data
There are 0 duplicates in the Train_status data

There are no duplicates on all the datasets.

#### Date time Format

In [13]:
#train 
train_df1['date_recorded'] = pd.to_datetime(train_df1['date_recorded'], errors = 'coerce')
train_df1['date_recorded'] = train_df1['date_recorded'].dt.year
train_df1.date_recorded.value_counts()

2011    28674
2013    24271
2012     6424
2004       30
2002        1
Name: date_recorded, dtype: int64

In [30]:
#test 
test_df1['date_recorded'] = pd.to_datetime(test_df1['date_recorded'], errors = 'coerce')
test_df1['date_recorded'] = test_df1['date_recorded'].dt.year
test_features.date_recorded.value_counts()

2011    7234
2013    5939
2012    1665
2004      11
2001       1
Name: date_recorded, dtype: int64